.jumbotron{
    background-image: url(./Assets/coxhallGardens-night.JPG);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    color: white;
}
/*Shimmer effect on jumbotron text*/
.shimmer {
    text-align: center;
    color: rgba(241, 233, 233, 0.753);
    background: -webkit-gradient(linear, left top, right top, from(rgb(161, 29, 6)), to(rgb(180, 16, 16)), color-stop(0.5, #fff));
    background: -moz-gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff));
    background: gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff));
    -webkit-background-size: 125px 100%;
    -moz-background-size: 125px 100%;
    background-size: 125px 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-animation-name: shimmer;
    -moz-animation-name: shimmer;
    animation-name: shimmer;
    -webkit-animation-duration: 4s;
    -moz-animation-duration: 4s;
    animation-duration: 4s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-color: #222;
  }
  @-moz-keyframes shimmer {
    0% {
      background-position: top left;
    }
    100% {
      background-position: top right;
    }
  }
  @-webkit-keyframes shimmer {
    0% {
      background-position: top left;
    }
    100% {
      background-position: top right;
    }
  }
  @-o-keyframes shimmer {
    0% {
      background-position: top left;
    }
    100% {
      background-position: top right;
    }
  }
  @keyframes shimmer {
    0% {
      background-position: top left;
    }
    100% {
      background-position: top right;
    }
  }

/*ABOUT SECTION*/
#about {
  background-color: #913f28;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 18pt;
  margin-top: -32px;
  padding-top: 50px;
  padding-bottom: 200px;
}

#experience{
  padding-top: 15px;
}

/*PORTFOLIO SECTION */
#portSection{
  background-color: royalblue;
  padding-top: 50px;
  padding-bottom: 100px;
  margin-top: -32px;
}
#portfolio{
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}
#portfolio h1{
  padding-top: 50px;
  padding-bottom: 100px;
}
.d-md-block{
  background-color: transparent;

}

.carousel-item{
  height: 500px;

}
#carousel4{
  background-image: 200px;
}

#carousel5{
   
}

  /*contact form*/
form {
    box-sizing: border-box;
}
input [type-text], select, textarea {
    width:100%;
    padding: 12px;
    border: 1px solid; red;
    border-radius: 4px;
    resize: vertical;
    color: red;
}
label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding:12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}
input[type=submit]:hover{
    background-color: #45a049;
}
